<ion-view view-title="Session">
  <ion-nav-buttons side="right">
    <a class="button button-icon" ng-click="share(session)">
      <i class="icon ion-share"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <!-- <pre>{{session | json}}</pre> -->
      <h2>{{session.name}}</h2>
      <h3 class="{{session.session_track_name |lowercase}}">Track: {{session.session_track_name}}</h3>
      <h4>Location: {{session.session_location_name}}</h4>
      <h4>{{session.start_time | date:'EEEE, h:mma'}} - {{session.end_time| date:'h:mma'}}</h4>

      <p ng-bind-html="session.description"></p>

      <a class="button button-clear button-positive" ui-sref="menu.speaker({speakerId:session_speaker.id})">
          {{session_speaker.first_name}}
          {{session_speaker.last_name}}
        </a>
    </ion-list>
  </ion-content>
</ion-view>
