<ion-view view-title="Sessions">
  <form novalidate>
    <ion-header-bar class="bar-subheader item-input-inset bar-positive">
      <div class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchSessions" ng-change="scrollTop(); resize()">
      <a ng-show="searchSessions.length" ng-click="clearSearch()" class=" icon dark ion-ios-close-empty button-reset"></a>
  </div>
      <!-- <a ng&#45;if="searchSessions.length" ng&#45;click="clearSearch()" class="button button&#45;icon ion&#45;ios&#45;close&#45;empty"></a> -->
    </ion-header-bar>
  </form>


  <ion-content>
    <button ng-if="hasError" class="button-clear button-full button button-balanced"
    ng-click="load()">Try Again</button>

    <ion-list>
      <ion-item ng-repeat="session in sessions | filter:searchSessions" ui-sref="menu.session({sessionId:session.id})">
        <h2>{{session.name}}</h2>
        <p ng-repeat="speaker in session.speakers">{{speaker.firstName}} {{speaker.lastName}}</p>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
